.jumbotron {
  width: 99.25vw;
  height: 42vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
  url("https://www.ferris.edu/_resources/ldpimages/.private_ldp/a106831/production/master/94f8cf95-9bb7-4897-9a34-89c1e1330d94.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
