<!-- Footer-->
<footer class="py-2 bg-dark">
  <div class="container-fluid">
    <p class="m-0 text-center text-white">
      ©thierryjeh
      <a href=".." target="_blank" class="text-light">
      Team </a>	
      <a href="https://www.flickr.com/search/?text=cat%20photography"><i class="fab fa-flickr"></i>
      <a href="https://500px.com/search?q=cat+photography+black+white&type=photos&sort=relevance"><i class="far fa-images"></i>	
</a>
       <a href=".." class="text-light"></a>
    </p>
  </div>
</footer>